{{with .Result}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ static_url }}/admin/themes/action_bar/stylesheets/action_bar.css">

  <div class="qor-actionbar">
    <div class="qor-actionbar--container">
      {{$actions := load_actions "action_bar" }}
      {{if $actions}}
        {{$actions}}
      {{end}}
    </div>
  </div>
{{end}}
